#root {
  max-width: 100dvw;
  max-height: 100dvh;
  text-align: center;
  margin: auto;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.container {
  background-color: var(--bg-color-secondary);
  width: 100dvw;
  height: 100dvh;
}


.color-placeholder {
  display: block;
  background-color: var(--color-grey);
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.flash-message {
  --fl-width: min(90%, 500px);
  position: fixed;
  top: 10px;
  width: var(--fl-width);
  left: calc((100% - var(--fl-width)) / 2);
  padding: 1em 1.15em;
  border-radius: .45em;
  color: #f3f3f3;
  text-shadow: 1px 0px 3px #5d6063;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  text-align: center;
}

.flash-message.success {
  background-color: rgb(22, 153, 118);
}

.flash-message.error {
  background-color: rgb(249, 56, 39);
}

.flash-message.warning {
  background-color: rgb(251, 165, 24);
}

.flash-message.info {
  background-color: rgb(169, 181, 223);
}

.project-icon {
  stroke-width: 3;
  fill-opacity: .5;
  fill: currentColor;
  stroke: currentColor;
}

.no-scroll {
  overflow: hidden;
  height: 100dvh;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 2.5em;
  height: 2.5em;
  fill: var(--primary-blue);
}

.overlay {
  background: var(--overlay-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  inset: 0;
  height: 100dvh;
  width: 100dvw;
}

.img-viewer {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  max-height: fit-content;
}

.img-viewer .back-btn {
  align-self: flex-end;
  background-color: transparent;
  font-size: 1.5rem;
  filter: drop-shadow(2px 4px 8px var(--color-grey));
}

.img-viewer .img-wrapper {
  background-color: var(--color-grey);
  max-width: 90dvw;
  max-height: 80dvh;
  border-radius: 50%;
  border: 5px solid var(--primary-white);
}

.img-viewer .img-wrapper img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  image-rendering: auto;
  border-radius: inherit;
}

.dropdown-icon {
  font-size: 1rem;
  color: var(--color-grey);
  transform: rotate(0deg);
  transition: transform 0.35s cubic-bezier(0.4, 0, 1, 1);
}

.dropdown-icon--active {
  transform: rotate(180deg);
}

.context--menu {
  position: absolute;
  z-index: 1;
  background-color: var(--bg-color-primary);
  width: 110px;
  height: 145px;
  border-radius: 1.25em;
  padding: 1.25em 0.938em;
  filter: drop-shadow(4px 4px 12px var(--overlay-bg-color));
}

.context--menu button,
.context--menu form button {
  background-color: transparent;
  color: inherit;
  font-weight: 400;
  font-size: 0.875rem;
  padding: .35em .15em;
  width: 100%;
  margin-bottom: 0.875em;
  text-align: center;
  border-radius: 0;
}

.context--menu>button:last-of-type {
  margin-bottom: 0;
}


.alert-text {
  color: #dc3545;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 0.875rem;
}

.label-required::after {
  content: " *";
  color: #f44336;
  font-weight: bold;
}


.label-grey {
  color: var(--color-grey);
}

.label-f14 {
  font-size: 0.875rem;
  margin-bottom: .25em;
}

.label-block,
.input-txt {
  display: block;
  width: 100%;
  height: fit-content;
  text-align: left;
}

.input-txt {
  font-weight: 500;
  color: inherit;
  border: none;
}

.input-txt::placeholder {
  font-size: 0.875rem;
}


.input-txt:not(.input-password):focus,
.password-input--wrapper:has(:focus) {
  outline: 2.5px solid var(--text-color);
  transition: outline-color .35s linear;
}

.input-txt:not(.input-password):invalid:not(:placeholder-shown),
.input-txt:not(.input-password):invalid:not(:focus):not(:placeholder-shown),
.password-input--wrapper:has(#password:invalid:not(:placeholder-shown)),
.password-input--wrapper:has(#password:invalid:not(:focus):not(:placeholder-shown)) {
  outline-color: #d9534f;
  box-shadow: 0 0px 8px rgba(217, 83, 79, 0.5);
}

.input-txt:not(.input-password):valid,
.password-input--wrapper:has(#password:valid) {
  outline-color: #5cb85c;
  box-shadow: 0 0 5px rgba(92, 184, 92, 0.5);
}

.password-input--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .45em;
}

.password-input--wrapper .pwd-toggle--btn {
  background-color: transparent;
  color: inherit;
  font-size: 1.5rem;
  border-radius: 0.15em;
}

.password-input--wrapper .input-txt {
  margin-bottom: 0;
}

.password-input--wrapper .input-txt:focus {
  outline: transparent;
}

/* Login styles and signup styles */
.container.auth-container {
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(35vmax, 1fr) 2fr;
  height: 100dvh;
}

.auth-container hgroup {
  font-family: "Poppins", 'Poppins-Fallback', sans-serif;
  text-align: left;
  margin-bottom: .75em;
}

.auth-container h1 {
  font-size: 1.75rem;
  margin-bottom: .35em;
  font-weight: 400;
}

.auth-container h4 {
  position: relative;
  color: var(--color-grey);
  width: fit-content;
  z-index: 1;
}

.auth-container h4::after {
  position: absolute;
  content: '';
  background-color: var(--primary-blue);
  height: 5px;
  width: 80%;
  bottom: 2px;
  left: 0;
  z-index: -1;
}

.auth-container p,
.auth-container a {
  font-size: 0.875rem;
}

.auth-container a {
  display: inline-block;
  text-decoration: underline;
  font-weight: 500;
}

.auth-container .bgi-img-wrapper {
  position: relative;
  background-color: var(--secondary-grey);
  background-size: cover;
  background-position: center;
  min-height: min(35vmax, 100vmax);

}

.auth-container .bgi-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}


.auth-container .bgi-img-wrapper .logo {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  z-index: 100;
}

.auth-container .bg--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
  position: relative;
  padding-inline: 1.6em;
  z-index: 1;
  height: 100%;
  width: min(100%, 525px);
  margin: 0 auto;

}

.auth-container .bg--form::before {
  content: '';
  position: absolute;
  background-color: var(--bg-color-primary);
  height: calc(100% + 2.75em);
  width: 100%;
  left: 0;
  top: -2.95em;
  z-index: -1;
  border-radius: 3.25em 0 0;
}

.auth-container .bg--form>div {
  width: 100%;
  margin-bottom: 1.25em;
}

.auth-container .auth-form {
  margin-bottom: 1em;
  animation: fadeIn .5s ease forwards;
}

.auth-container .auth-form .input-wrapper {
  margin-bottom: 1.25em;
}

.auth-container .auth-form .input-wrapper .input-txt,
.auth-container .auth-form .input-wrapper .password-input--wrapper {
  background-color: var(--bg-input-focus);
  border-radius: .5em;
}


.auth-container .auth-form .input-txt,
.auth-container .password-input--wrapper {
  height: 50px;
}

.auth-container .auth-form .input-txt {
  padding: 1.25em;
}

.auth-container .password-input--wrapper .pwd-toggle--btn {
  margin-right: 0.805em;
  color: var(--color-grey);
}


.auth-container--register .btn-wrapper {
  text-align: right;
}

.auth-container--login .btn-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
}

.auth-container--login .btn-wrapper a {
  justify-self: left;
}

.auth-container .submit--btn {
  width: 135px;
  height: 50px;
  margin-left: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: .5em;
}


.auth-container .user-footer {
  margin-bottom: 1.6em;

}

.auth-container .user-footer p>a {
  margin-left: .45em;
}


/* Project Styles */
/* header styles */
.main--header {
  display: grid;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: inherit;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: .75em;
  min-height: 85px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.15em;
  border-bottom: 1px solid var(--border-color);
}

.main--header>.menu-btn {
  background-color: transparent;
  color: inherit;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  border-radius: .25em;
}

.main--header>.menu-btn .icon {
  background-color: transparent;
  font-size: 1.5rem;
}


.main--header>.logo {
  justify-self: center;
}

.main--header>.profile-link {
  grid-column: 3 / 4;
  grid-row: 1;
  background-color: var(--color-grey);
  border-radius: 50%;
  height: 3em;
  width: 3em;
  justify-self: right;
  overflow: hidden;
}

.main--header>.profile-link>img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.user-profile--container {
  --profile-width: 375px;
  background-color: var(--bg-color-secondary);
  width: min(calc(100% - (1.15em * 2)), var(--profile-width));
  position: fixed;
  min-height: 350px;
  height: auto;
  top: calc(86px + .5em);
  z-index: 500;
  right: 1.15em;
  padding: 1.25em 1em;
  border-radius: .75em;
  filter: drop-shadow(4px 8px 32px var(--overlay-bg-color));
  transition: width .5s cubic-bezier(0.65, 0.05, 0.36, 1), height .5s ease-in-out;
}

.user-profile--container.expand {
  --profile-width: 450px;
  min-height: 450px;
}

.user-profile--container button:not(.submit-btn) {
  background-color: transparent;
}

.user-profile--container .menu-panel {
  max-width: 100%;
  overflow: hidden;
  min-height: 300px;
}

.user-profile--container .menu-wrapper {
  display: flex;
  flex-direction: row;
  transform: translate3d(0, 0, 0);
  transition: transform .75s cubic-bezier(0.4, 0, 0.2, 1), flex .45s linear;
}

.user-profile--container .menu-wrapper.submenu {
  transform: translate3d(-100%, 0, 0);
}

.user-profile--container .menu-wrapper .main-menu {
  opacity: 0;
  transition: opacity .25s ease-in;
  padding: 1em .275em 0;
}

.user-profile--container .menu-wrapper .main-menu.active {
  opacity: 1;
}


.user-profile--container .submenu,
.user-profile--container .main-menu {
  width: 100%;
  min-height: 0;
  flex: 1 0 auto;
  padding-block-start: 1em;
}


.user-profile--container .main-menu .profile-container {
  margin-bottom: .85em;
}

.user-profile--container .menu-item {
  border: 1px solid var(--border-color);
  background-color: var(--bg-color-primary);
  padding: 1em .75em;
  border-radius: .75em;
}

.user-profile--container .menu-panel--top,
.user-profile--container .menu-panel--top .panel-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-profile--container .menu-panel--top {
  min-height: 52px;
  padding-block-end: 1em;
  padding-inline: .285em;
  border-bottom: 1px solid var(--border-color);
  transition: grid-template-rows .5s ease-in-out;
}


.user-profile--container .menu-panel--top .panel-wrapper {
  gap: .75em;
}

.user-profile--container .panel-wrapper .back-btn {
  color: inherit;
  margin-right: auto;
  width: 30px;
  flex: 0 0 35px;
}

.user-profile--container .menu-title,
.user-profile--container .profile-wrapper {
  flex: 1 1 auto;
}

.user-profile--container .profile-wrapper {
  display: grid;
  grid-template-columns: 70px minmax(100px, 2fr);
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: .75em;
}

.user-profile--container .menu-title {
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
}

.user-profile--container .img-wrapper {
  background-color: var(--color-grey);
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-profile--container .img-wrapper.edit {
  position: relative;
}

.user-profile--container .img-wrapper .profile-img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.user-profile--container .img-wrapper .link-wrapper {
  background-color: var(--primary-white);
  position: absolute;
  left: 2.813em;
  top: 2.813em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  filter: drop-shadow(0px 1px 4px var(--overlay-bg-color));
}

.user-profile--container .img-wrapper .edit-profile--link {
  color: var(--primary-black);
}

.user-profile--container .profile-wrapper .details-wrapper {
  width: 100%;
  text-align: left;
}

.user-profile--container .menu-panel--top .back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.user-profile--container .details-wrapper .username,
.user-profile--container .details-wrapper .user-email {
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  align-self: start;
  justify-self: left;
  min-width: 50px;
}

.user-profile--container .details-wrapper .username {
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: .25em;
}

.user-profile--container .details-wrapper .user-email {
  color: var(--color-grey);
}


.user-profile--container .menu-btn,
.user-profile--container .logout--link {
  width: 100%;
  color: var(--text-color);
  height: 52px;
  padding-block: .435em;
}

.user-profile--container .menu-btn {
  display: grid;
  grid-template-columns: 2fr 40px;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: .5em;
  padding-inline: .35em;
}

.user-profile--container .menu-btn:last-of-type {
  margin-bottom: 0;
}

.user-profile--container .menu-btn .right-icon {
  color: var(--color-grey);
  justify-self: right;
  margin-left: auto;
}

.user-profile--container .logout--link {
  background-color: var(--bg-color-primary);
  border-radius: .75em;
  padding-inline: 1em;
  border: 1px solid var(--border-color);
}

.user-profile--container .menu-text {
  display: flex;
  align-items: center;
  gap: 0.625em;
  font-weight: normal;
}

.user-profile--container .menu-text svg {
  font-size: 1.5rem;
}

.profile-settings--container {
  padding: 0 .45em;
  border-radius: .75em;
}

.edit-profile--form .form-container {
  margin-bottom: 3em;
}

.edit-profile--form .alert-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.edit-profile--form .input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-content: start;
  margin-bottom: 1em;
  width: 100%;
}

.edit-profile--form .input-wrapper:last-of-type {
  margin-bottom: 0;
}

.edit-profile--form .input-wrapper input:not(.input-password),
.edit-profile--form .password-input--wrapper {
  transition: padding .5s cubic-bezier(0.4, 0, 0.2, 1),
    outline-color .35s linear,
    background-color .5s linear;
}

.edit-profile--form .input-wrapper input:not(.input-password):focus,
.edit-profile--form .password-input--wrapper:has(:focus) {
  padding-inline: .75em;
}

.edit-profile--form .password-input--wrapper:has(:focus),
.edit-profile--form .form-container .input-wrapper input:focus:not(.input-password) {
  background-color: var(--bg-input-focus);
  border-radius: .75em;
}

.edit-profile--form .input-wrapper input:-webkit-autofill:not(:focus):valid,
.edit-profile--form input:not(.input-password):invalid:not(:placeholder-shown),
.edit-profile--form .password-input--wrapper:has(#password:invalid:not(:placeholder-shown)),
.edit-profile--form .password-input--wrapper:has(#password:invalid:not(:focus):not(:placeholder-shown)) {
  border-radius: .75em;
  padding-inline-start: .75em;
}

.edit-profile--form .input-txt:not(.input-password):valid,
.edit-profile--form .password-input--wrapper:has(#password:valid) {
  box-shadow: none;
}

.edit-profile--form .input-wrapper input {
  padding: 1em 0;
}


.edit-profile--form .input-wrapper input:-webkit-autofill:not(:focus):valid {
  -webkit-box-shadow: none !important;
}

.edit-profile--form .input-wrapper input:not(:focus) {
  color: var(--text-color);
}


.edit-profile--form>.submit-btn {
  padding: 0.688em 2em;
  border-radius: 1.6em;
}

.profile-upload--wrapper {
  --p-upd-width: min(90%, 550px);
  background-color: var(--bg-color-primary);
  width: var(--p-upd-width);
  height: auto;
  padding-block: 1.875em;
  border-radius: 1.275em;
  z-index: 501;
  filter: drop-shadow(4px 8px 32px var(--overlay-bg-color));
}

.profile-upload--wrapper>header,
.profile-upload--wrapper>main {
  padding-inline: 1.25em;
}

.profile-upload--wrapper>header {
  display: grid;
  grid-template-columns: 1fr 40px;
  margin-bottom: 1.25em;
  border-bottom: 1px solid var(--color-grey);
  text-align: left;
}

.profile-upload--wrapper>header h1 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-block: 0 .5em;
}

.profile-upload--wrapper>header p {
  font-size: .85rem;
  color: var(--color-grey);
  margin-bottom: .75em;
}


.profile-upload--wrapper>main {
  text-align: center;
}

.profile-upload--wrapper button {
  font-weight: 500;
  padding: 1em 2.063em;
  border-radius: 1em;
}


.profile-upload--wrapper .drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
  height: 225px;
  border: 2px dashed var(--color-grey);
  border-radius: .75em;
  transition: margin-bottom .5s ease-in-out;
}

.profile-upload--wrapper .drop-zone.active {
  border-color: var(--secondary-blue);
  background-color: var(--bg-color-secondary);
  transform: scale(1.02);
  transition: transform .5s ease-in-out, background-color .25s linear;
}

.profile-upload--wrapper .helper-text--wrapper svg {
  font-size: clamp(1.25rem, 0.8rem + 2vw, 1.85rem);
}


.profile-upload--wrapper .helper-text--wrapper hgroup {
  margin: 0 auto 1em;
  font-weight: 500;
  line-height: normal;
}

.profile-upload--wrapper .helper-text--wrapper hgroup h2 {
  font-size: clamp(1.25rem, 0.8rem + 2vw, 1.775rem);
  margin-bottom: .35em;
}

.profile-upload--wrapper .helper-text--wrapper hgroup h3 {
  font-size: .875rem;
  color: var(--color-grey);
}

.profile-upload--wrapper .helper-text--wrapper .icon {
  margin: 0 auto .75em;
}

.profile-upload--wrapper .drop-zone .browse-files--btn {
  background-color: var(--bg-color-primary);
  border: 1px solid var(--color-grey);
  color: var(--text-color);
}

.profile-upload--wrapper .file-preview {
  display: grid;
  grid-template-columns: minmax(155px, 3fr) 35px;
  grid-template-rows: 1fr;
  column-gap: .75em;
  width: 100%;
  max-width: 100%;
  background-color: var(--secondary-grey);
  color: var(--text-color);
  height: fit-content;
  padding: .75em;
  margin-bottom: 1.85em;
  border-radius: .75em;
}

.profile-upload--wrapper .file-preview .file-details--wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-self: start;
  width: 100%;
  overflow: hidden;
}

.profile-upload--wrapper .file-details--wrapper .avatar-preview {
  min-width: 60px;
  overflow: hidden;
  width: clamp(60px, 10vw, 80px);
  height: auto;
  border-radius: 50%;
}

.profile-upload--wrapper .avatar-preview img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1 / 1;
  border-radius: inherit;
}

.profile-upload--wrapper .file-details {
  overflow: hidden;
  text-align: left;
}

.profile-upload--wrapper .file-details .filename {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-upload--wrapper .file-details>.details-container {
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: .85rem;
  font-weight: 400;
  color: var(--color-grey);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile-upload--wrapper .details-container .file-size::after {
  content: "•";
  padding-left: .25em;
}

.profile-upload--wrapper .details-container .upload-status {
  color: var(--text-color);
}

.profile-upload--wrapper .file-preview .cancel-btn {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  color: var(--text-color);
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: .75em;
  justify-self: right;
}


.settings-list .settings-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75em;
}

.settings-list .settings-items:last-of-type {
  margin-bottom: 0;
}

.settings-list .settings-items>span {
  text-align: left;
  font-weight: 400;
}

.settings-list .settings-items>div {
  position: relative;
  padding: .25em;
  margin-left: auto;
  width: 80px;
  height: 35px;
  overflow: hidden;
}

.settings-list .settings-items>div:has(> .dropdown-content.open) {
  overflow: visible;
}

.settings-list .settings-items>div>button .icon {
  transition: rotate .2s linear;
}

.settings-list .settings-items>div:has(>.dropdown-content.open)>button .icon {
  rotate: 180deg;
}

.settings-list .settings-items>div>button {
  color: var(--color-grey);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .438em;
  padding: .25em;
  width: 100%;
}

.settings-list .settings-items>div>button .selected-item {
  color: #BBBBBB;
}

.settings-list .settings-items .dropdown-content {
  background-color: var(--bg-color-secondary);
  position: absolute;
  top: 2.5em;
  opacity: 0;
  right: .25em;
  transition: opacity .5s linear;
}

.settings-list .settings-items .dropdown-content.open {
  z-index: 10;
  padding: 1.25em 0.938em;
  opacity: 1;
  filter: drop-shadow(0px 2px 4px var(--overlay-bg-color));
  border-radius: 1em;
  width: 75px;
}

.settings-items .dropdown-content button {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.settings-list .settings-items .dropdown-content .theme-btn:first-of-type {
  margin-bottom: 0.875em;
}

.settings-list .settings-items .dropdown-content button:last-child {
  margin-bottom: 0;
}

 .change-pw--form .input-wrapper{
  text-align: left;
   margin-bottom: .75em;

 }
 .change-pw--form .input-wrapper:last-of-type {
   margin-bottom: 1.25em;
 }
.change-pw--form .input-wrapper .password-input--wrapper {
  background-color: var(--bg-input-focus);
  border-radius: 0.75em;
  margin-bottom: .15em;
  overflow: hidden;
}

.change-pw--form .password-input--wrapper:has(input:invalid:not(:placeholder-shown)) {
  background-color: var(--secondary-red);
}

.change-pw--form .password-input--wrapper:has(input:invalid:not(:placeholder-shown):focus) {
  background-color: var(--bg-input-focus);
  outline-color: #d9534f;
}

.change-pw--form .password-input--wrapper:has(input:valid:not(:placeholder-shown):focus) {
  outline-color: #5cb85c;
}

.change-pw--form .password-input--wrapper input {
  padding: 1.115em 1em;
}

.change-pw--form .input-wrapper .alert-text{
  margin-left: .5em;
}

.change-pw--form .password-input--wrapper button {
  margin-right: .75em;
}

.change-pw--form .submit-btn {
  padding: 1em 2em;
  width: 100%;
  border-radius: 0.325em;
}

/* main styles */
.main {
  background-color: inherit;
  padding: .85em 1.15em;
  height: max-content;
  width: 100%;
}

.project-sidebar {
  background-color: var(--bg-color-primary);
  position: fixed;
  border-right: 1px solid var(--border-color);
  padding: 1.5em 1.5em;
  top: 0;
  left: -300px;
  z-index: 200;
  width: 300px;
  height: 100dvh;
  border-radius: 0 .85em .85em 0;
  transition: left .45s linear;
}

.project-sidebar.open {
  left: 0;
  filter: drop-shadow(0px 12px 20px var(--overlay-bg-color));
}

.project-sidebar button:not(.submit-btn) {
  background-color: transparent;
}

.project-sidebar button svg:not(.submit-btn svg) {
  font-size: 1.125rem;
  color: var(--color-grey);
}



.project-sidebar .sidebar-header,
.sidebar-header .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .75em;
}

.project-sidebar .sidebar-header,
.project-sidebar .projects-nav {
  margin-bottom: 2.5em;
}

.project-sidebar .sidebar-header {
  height: 40px;
}

.project-sidebar .sidebar-header .icon {
  justify-self: left;
}

.project-sidebar .sidebar-header h1 {
  font-family: "Poppins", 'Poppins-Fallback', sans-serif;
  font-size: 1.25rem;
  margin: 0;
  text-align: left;
  margin-left: -0.25em;
}

.project-sidebar .sidebar-header .close-menu-btn {
  background-color: transparent;
  color: var(--color-grey);
  height: 35px;
  width: 35px;
  justify-self: right;
}

.project-sidebar .sidebar-header .close-menu-btn svg {
  stroke-width: 1.1;
}

.projects-nav:has(.nav-list-items)~* {
  --op-delay: .35s;
  --vs-delay: 0s;
  opacity: 1;
  visibility: visible;
  transition: 0s visibility var(--vs-delay, 0s), .35s opacity linear var(--op-delay, 0s);
}

.projects-nav:has(.nav-list-items.expanded)~* {
  --vs-delay: .35s;
  --op-delay: 0s;
  opacity: 0;
  visibility: hidden;
}

.projects-nav .nav-list {
  width: 100%;
}

.projects-nav .nav-list-items:first-of-type,
.projects-nav .nav-list-items.expanded:first-of-type .items-container {
  margin-bottom: 1em;
}

.projects-nav .nav-list-items .items-container {
  min-height: 40px;
  width: 100%;
}

.projects-nav .nav-list-items .color-placeholder {
  justify-self: center;
}

.projects-nav .nav-list-items button {
  background-color: transparent;
  color: inherit;
}

.projects-nav .nav-list-items .link-name {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--color-grey);
  font-weight: 500;
  overflow: hidden;
}

.projects-nav .nav-list-items .link-name .project-name {
  overflow: hidden;
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.projects-nav .nav-list-items .list-items--grid {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(100px, 3fr) minmax(30px, 1fr);
  grid-template-rows: 1fr;
  column-gap: .25em;
  align-items: center;
}

.projects-nav .nav-list-items>.list-items--grid {
  background-color: transparent;
  padding: 1em .35em;
  color: var(--color-grey);
  transition: border-radius .25s ease-in-out .15s,
    margin-bottom .25s ease-in-out, background-color .35s linear;
}

.projects-nav .nav-list-items>.list-items--grid:has(.active) {
  background-color: var(--bg-color-secondary);
  border-radius: 1.6em;
  border: 1px solid var(--border-color);
}

.projects-nav .nav-list-items>.list-items--grid .color-placeholder {
  background-color: #91ADC8;
}

.projects-nav .nav-list-items>.list-items--grid .link-name {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: .75rem;
}


.projects-nav .nav-list-items .dropdown-panel {
  background: var(--bg-color-primary);
  border-radius: .75em;
  overflow: hidden;
  margin-bottom: 1em;
  padding: .85em .25em;
  border: 1px solid var(--border-color);
  transition: grid-template-rows 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-nav .nav-list-items .dropdown-panel .dropdown-list {
  min-height: 0;
}

.projects-nav .nav-list-items .project-items::before {
  content: '';
  background-color: var(--bg-color-before);
  position: absolute;
  top: 0;
  left: -4px;
  z-index: 1;
  height: 100%;
  width: 6px;
  border-radius: 0 4px 4px 0;
  transition: background-color .3s ease-in;
}

.projects-nav .nav-list-items .project-items {
  --bg-color-before: transparent;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 100%;
  padding: .5em .35em;
  margin-bottom: .85em;
}


.projects-nav .nav-list-items .project-items.active {
  --bg-color-before: var(--primary-blue);
}

.projects-nav .nav-list-items .project-items.loading {
  --bg-color-before: var(--color-grey);
}

.projects-nav .nav-list-items .project-items:last-of-type {
  margin-bottom: 0;
}


.edit-form-container {
  background-color: var(--bg-color-primary);
  border-radius: 1.125em;
  padding: 1.125em .85em;
  max-width: min(90%, 350px);
  height: auto;
}

.edit-form-container .header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  margin-bottom: .75em;
}

.edit-form-container .header-wrapper h4 {
  color: var(--color-grey);
  letter-spacing: 1px;
  padding-left: .15em;
  font-weight: normal;
}

.edit-form-container .header-wrapper .close-btn {
  background-color: transparent;
  font-size: 1rem;
  width: 30px;
  height: 30px;
}

.edit-form-container .header-wrapper .close-btn,
.project-form button {
  color: var(--text-color);
}

.project-form {
  height: fit-content;
  border-radius: 1.6em;
}

.project-form label.project-name--label {
  position: absolute;
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
}

.project-form button svg {
  font-size: 1.125rem;
}

.project-form button:focus,
.project-form button:focus-visible {
  outline: transparent;
}

.project-form .input-wrapper,
.project-form .bg-fieldset.open {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--border-color);
}

.project-form .input-wrapper {
  display: grid;
  grid-template-columns: 60px minmax(100px, 2fr) 50px;
  grid-template-rows: 1fr;
  height: 50px;
  align-items: center;
  column-gap: .25em;
  width: inherit;
  padding: .2em;
  margin-bottom: .75em;
  border-radius: inherit;
  outline: transparent;
  transition: outline .25s ease-in-out .15s, background-color .25s linear;
}


.project-form .input-wrapper:has(button:focus),
.project-form .input-wrapper:has(:focus),
.edit-form-container .input-wrapper:has(input:not(:placeholder-shown)),
.project-form .input-wrapper:has(input:focus:not(:placeholder-shown)) {
  outline: 5px solid var(--secondary-blue);
  background-color: var(--bg-input-focus);
}

.project-form .input-wrapper .form-dropdown--btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: .35em;
  padding-inline: .5em;
  height: 100%;
  border-radius: 1em 0 0 1em;
}

.project-form .input-wrapper .form-dropdown--btn::after {
  content: '';
  background-color: var(--border-color);
  margin-left: auto;
  height: 100%;
  height: calc(100% - .25em);
  width: 1.5px;
}

.project-form .input-wrapper .project-input {
  border: transparent;
  background-color: transparent;
  color: var(--text-color);
  height: 100%;
}

.project-form .input-wrapper .project-input:focus {
  outline: transparent;
}

.project-form .input-wrapper .project-input::placeholder {
  font-family: inherit;
}

.project-form .input-wrapper .submit-btn {
  border-radius: 50%;
  color: var(--primary-white);
  justify-self: right;
  height: 42px;
  width: 42px;
}

.project-form .input-wrapper .submit-btn.submitting {
  background-color: transparent;
}

.project-form .bg-fieldset {
  display: grid;
  grid-template-rows: 0fr;
  height: auto;
  overflow: hidden;
  transition: grid-template-rows 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-form .bg-fieldset.open {
  grid-template-rows: 1fr;
  padding: .75em .35em;
  border-radius: 0.75em;
  width: 100%;
}


.project-form .bg-fieldset .colors-fieldset {
  min-height: 0;
  padding: 0;
  border: none;
}

.project-form .bg-fieldset .colors-fieldset legend {
  font-size: .85rem;
  text-align: left;
  color: var(--color-grey);
  padding-left: .85em;
  margin-bottom: .25em;

}

.project-form .bg-fieldset .colors-wrapper {
  --cw-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--cw-width) / 7), 1fr));
  grid-template-rows: repeat(2, minmax(35px, 1fr));
  align-items: center;
  row-gap: .45em;
  width: var(--cw-width);

}

.project-form .bg-fieldset .colors-wrapper label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project-form .bg-fieldset .colors-wrapper .project-radio {
  cursor: pointer;
  appearance: none;
  width: 1.125em;
  height: 1.125em;
  border-radius: 50%;
}

.project-form .colors-wrapper .project-radio:checked {
  --before-width: 25px;
  --before-height: 25px;
  --bg-color-after: var(--color-grey);
}

.project-form .colors-wrapper .project-radio::after {
  content: '';
  position: absolute;
  display: block;
  height: var(--before-height, .75em);
  width: var(--before-width, .75em);
  z-index: 0;
  top: 0;
  bottom: 0;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  border: 2px solid var(--bg-color-after, transparent);
  transition: width .25s ease-in-out, height .25s ease-in-out, border-color .15s ease-in-out;
}

.task-section {
  width: 100%;
  animation: fadeIn .5s ease-out forwards;
}

.task-section>.task-header {
  min-height: 90px;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  padding-block: .75em;
}

.task-section>.task-header h1 {
  display: flex;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: .25em;
  margin-inline: auto;
  margin-bottom: .45em;
}

.task-section>.task-header h1 .username-target {
  width: max-content;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-section>.task-header h1::after {
  content: '👋';
  width: fit-content;
}

.task-section>.task-header p {
  margin-bottom: 1em;
  margin-inline: auto;
}

.task-section>.task-header p::after {
  content: '😊';
  width: fit-content;
}

.tasks-container {
  contain: layout style paint;
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(219px, 1fr));
  column-gap: 1.5em;
  row-gap: 1.5em;
  height: 100%;
  padding-block: 1em;
}

.tasks-container.empty {
  display: block;
}

.tasks-container>.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6em;
  padding: 2.5em;
}

.task-section .task-card {
  isolation: isolate;
  content-visibility: auto;
  contain-intrinsic-size: 219px;
  background-color: var(--secondary-grey);
  border: 1px solid var(--border-color);
  text-align: left;
  min-height: 219px;
  height: 100%;
  width: 95%;
  max-width: 95%;
  margin: 0 auto 1.5em;
  border-radius: 1em;
  padding: 1em;
  contain: layout;
  will-change: transform, opacity;
  animation: fadeIn .5s ease-out forwards;
}


.task-section .task-card h1 {
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: .65em;
}

.task-section .task-card p {
  font-family: 'Poppins', "Poppins-Fallback", sans-serif;
  font-size: 14px;
  color: var(--color-grey);
  margin-bottom: 0.85em;
}

.task-section .trigger-container {
  min-height: 80px;
  width: 100%;
  padding: 20px 0;
}

.task-section .trigger-container .invisible-spacer {
  height: 20px;
}

.task-section .trigger-container .end-text {
  text-align: 'center';
  color: #888;
  margin: 20px 0;
}

.add-icon {
  display: block;
  background-color: inherit;
  stroke-width: 1;
  fill: transparent;
  height: 6em;
  width: 6em;
  color: var(--color-grey);
  animation: at-ripple 0.6s linear infinite;
  border-radius: 1.25em;
}


@media only screen and (min-width: 600px) {

  .user-profile--container.expand {
    padding: 1.5em 1em;
  }

  .edit-profile--form .input-wrapper {
    grid-template-columns: 1fr minmax(200px, 2fr);
    grid-template-rows: 1fr;
    margin-bottom: 1.5em;
  }

}

@media only screen and (min-width: 768px) {
  .user-profile--container {
    top: calc(96px + .5em);
    right: 2em;
  }

  .container.auth-container {
    grid-template-columns: minmax(35vmax, 1fr) minmax(360px, 2fr);
    grid-template-rows: 1fr;
  }

  .auth-container .bg--form::before {
    content: '';
    display: none;
  }

  .main--header,
  .main {
    padding: 1.5em 2.5em;
  }

  .task-section .task-card {
    margin: 0 0 1.5em 0;
  }
}

@media only screen and (min-width: 1024px) {
  body:has(>.overlay.overlay--sidebar) {
    overflow: visible;
  }

  .overlay.overlay--sidebar {
    display: none;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .container {
    display: grid;
    grid-template-rows: 96px 2fr;
    grid-template-columns: 300px 1fr;
    width: 100%;
  }

  .main--header {
    grid-template-columns: 165px 2fr 1fr;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    height: 96px;
    padding: 1.5em 2.5em;
    margin-bottom: 2em;
  }

  .main--header>h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    margin-right: auto;
  }

  .main--header>.logo {
    justify-self: left;
  }

  .main {
    grid-column: 2 / 3;
    padding: 2em 2.5em;
  }

  .main .project-sidebar {
    left: 0;
    border-radius: 0;
  }

  .auth-container hgroup {
    margin-bottom: 1.35em;
  }

  /* .auth-container .bgi-img-wrapper {
    max-height: 100dvh;
  } */

  .auth-container .bgc--form {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2.5em;
  }

  .auth-container .bgc--form::before {
    height: 100dvh;
    border-radius: 0;
    inset: 0;
    top: 0;
  }

  .auth-container .auth-form {
    margin-bottom: 1.85em;
  }


  .auth-container--login .password-input--wrapper,
  .auth-container--register form>.input-txt:last-of-type {
    margin-bottom: 2.5em;
  }



  .project-sidebar .sidebar-header h1 {
    margin-left: 0;
  }
}






@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}