@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2') format('woff2-variations'),
    url('/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter-Fallback';
  src: local('Arial');
  size-adjust: 107%;
  /* Adjusts Arial to match Inter's visual size */
  ascent-override: 90%;
}

@font-face {
  font-family: "Poppins-Fallback";
  src: local("Arial");
  size-adjust: 92%;
}

:root {
  --primary-black: #1B1D21;
  --secondary-black: rgb(35, 37, 41);
  --primary-white: #FFFFFF;
  --secondary-white: #f8f9fa;
  --primary-blue: #51459E;
  --secondary-blue: #A8A8EC;
  --color-grey: #6C717B;
  --secondary-grey: rgb(42 45 50);
  --primary-red: #e24749;
  --secondary-red: #432528;

  --bg-color-primary: var(--primary-black);
  --bg-color-secondary: var(--secondary-black);
  --text-color: var(--primary-white);

  --border-color: #323539;

  --bg-color-btn: var(--primary-blue);
  --overlay-bg-color: rgba(0, 0, 0, 0.5);

  --bg-input-focus: rgb(19, 18, 21);

  box-sizing: border-box;


  scroll-behavior: auto;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
*:after,
*:before {
  box-sizing: inherit;
  padding: unset;
  margin: unset;
}

body {
  line-height: 1.5;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  min-height: 100dvh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body:has(>.overlay) {
  overflow: hidden;
}

body[data-theme='dark'] {
  background-color: var(--bg-color-primary);
  color: var(--text-color);
}

body[data-theme='light'] {
  --text-color: var(--primary-black);
  --bg-color-primary: var(--primary-white);

  --bg-color-secondary: var(--secondary-white);
  --bg-color-btn: var(--primary-blue);

  --overlay-bg-color: rgba(0, 0, 0, 0.20);
  --bg-input-focus: #F2F4F7;
  --color-grey: #A9ACB4;
  --secondary-grey: #F1F3F5;

  --border-color: hsl(210, 16%, 93%);
  --secondary-red: rgb(253, 207, 198);
  --primary-red: #e24749;

}


h1 {
  line-height: 1.1;
  font-weight: 700;
}

li {
  list-style: none;
}

button {
  border: transparent;
  font-size: 1rem;
  color: var(--primary-white);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-color-btn);
  cursor: pointer;
  transition: border-color ease-in-out 0.25s, background-color linear .15s;
}

a {
  display: block;
  cursor: pointer;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}

a.active {
  color: var(--primary-blue);
}

a:hover {
  color: var(--secondary-blue);
}

input {
  background-color: transparent;
  border-radius: 0;
}

input:valid:not(:focus) {
  color: #5cb85c;
}

input:invalid:not(:focus) {
  color: #d9534f;
}

img:not([src*=".svg"]) {
  filter: brightness(0.8) contrast(1.1);
}

button:hover {
  border-color: transparent;
}

button:focus,
button:focus-visible {
  outline: 4px solid var(--secondary-blue);
  border-radius: inherit;
}

button:disabled {
  color: #BBBBBB !important;
}

img {
  display: block;
  max-width: 100%;
}



@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--primary-black);
    --bg-color-primary: var(--primary-white);

    --bg-color-secondary: var(--secondary-white);
    --bg-color-btn: var(--primary-blue);

    --overlay-bg-color: rgba(0, 0, 0, 0.20);
    --bg-input-focus: #F2F4F7;
    --color-grey: #A9ACB4;
    --secondary-grey: #F1F3F5;

    --border-color: hsl(210, 16%, 93%);
    --secondary-red: rgb(253, 207, 198);
    --primary-red: #e24749;
    background-color: var(--bg-color-primary);
    color: var(--text-color);
  }

  button {
    background-color: var(--bg-color-btn);

  }

  a:hover {
    color: #747bff;
    font-weight: bold;
  }

  a.active {
    color: var(--secondary-blue);
  }

  a:hover {
    color: var(--primary-blue);
  }

}